{% extends "nav.html" %}
{% include "analytics.html" ignore missing %}

{% block title %}home{% endblock %}

{% block meta %}
{% if p_id >= 0 %}
<meta property="og:type"               content="article" />
<meta property="og:title"              content="hush.mit.edu" />
<meta property="og:description"        content="{{ c_p }}" />
{% endif %}
{% endblock %}

{% block navbody %}
<div class="items">
    <div class="np-container">
      {% if page-1 >= 0 %}<a href="{{ modify_query(p=page-1) }}" class="np">[previous]</a>{% endif %}
      {% if not last_page %}<a href="{{ modify_query(p=page+1) }}" class="np">[next]</a>{% endif %}
    </div>
    {% for post, vote, comment_count in posts %}
      <div class="item">
          <div class="item-header">
             <a href="/?{{ post.id }}" class="permalink">#{{ post.id }}</a>
             <i id="uvote-{{ post.id }}" value="{{ post.id }}" class="caret up icon uvote {% if vote > 0 %}clicked{% endif %}"></i>
             <span id="score-{{ post.id }}" class="score">{{ post.upvotes - post.downvotes }}</span>
             <i id="dvote-{{ post.id }}" value="{{ post.id }}" class="caret down icon dvote {% if vote < 0 %}clicked{% endif %}"></i>
             <a href="/?{{ post.id }}" class="comments">[{{ comment_count }} comments]</a>
             <span class="time">{{ post.timestamp | humanize }}</span>
          </div>
          <div class="item-body">
              {{ post.message | nl2br }} 
          </div>
      </div>
    {% endfor %}
    
    <div class="np-end">
      {% if page-1 >= 0 %}<a href="{{ modify_query(p=page-1) }}" class="np">[previous]</a>{% endif %}
      {% if not last_page %}<a href="{{ modify_query(p=page+1) }}" class="np">[next]</a>{% endif %}
    </div>

    {% if p_id >= 0 %}
      {% if user is not none or mit %}
      <div class="main-comment-box">
        <form action="/comment/{{ p_id }}" method="post">
            <textarea name="message" class="ta" rows="7" cols="70"></textarea>
            <br>
            <button data-sitekey="{{ config['RECAPTCHA_KEY'] }}" data-callback="onSubmit" class="ui button sb g-recaptcha">
              Add a Comment
            </button>
            <div class="ui checkbox">
              <input type="checkbox" name="anonymous" checked>
              <label>Anonymous</label>
            </div>
        </form>
      </div>
      {% else %}
      <p class="error pl">You must be connected to the MIT Network or <a href="/login?redirect=/?{{ p_id }}">login</a> to add comments.</p>
      {% endif %}
      <div class="comments">
        {% for comment in comments recursive %}
          <div class="comment" style="padding-left: {{ 1 + comment.level * 2.5 }}rem;">
            <div class="comment-header">
              <span id="score-comment-{{ comment.comment.id }}" class="score smol">{{ comment.comment.upvotes - comment.comment.downvotes }}</span>
              <i id="uvote-comment-{{ comment.comment.id }}" value="{{ comment.comment.id }}" class="caret up icon uvote commentv {% if comment.vote > 0 %}clicked{% endif %}"></i>
              <i id="dvote-comment-{{ comment.comment.id }}" value="{{ comment.comment.id }}" class="caret down icon dvote commentv {% if comment.vote < 0 %}clicked{% endif %}"></i>

              <span class="user">{% if comment.kerb is not none %} {{ comment.kerb }} {% endif %}</span>
              <span class="time">{{ comment.comment.timestamp | humanize }}</span> <span class="collapse" cid="{{ comment.comment.id }}">[-]</span>
            </div>
            <div class="comment-body">
              {{ comment.comment.message | nl2br }}
            </div>
            <div class="comment-footer">
              {% if user is not none or mit %}
              <span class="reply" cid="{{ comment.comment.id }}">reply</span>
              {% endif %}
              <div id="reply-box-{{ comment.comment.id }}" class="comment-box hidden">
                <form action="/reply/{{ comment.comment.id }}" method="post">
                    <textarea name="message" class="ta" rows="7" cols="60"></textarea>
                    <br>
                    <button data-sitekey="{{ config['RECAPTCHA_KEY'] }}" data-callback="onSubmit" class="ui button sb g-recaptcha">
                      Submit
                    </button>
                    <div class="ui checkbox">
                      <input type="checkbox" name="anonymous" checked>
                      <label>Anonymous</label>
                    </div>
                </form>
              </div>
            </div>
          </div>
          <div id="children-of-{{ comment.comment.id }}">
            {{ loop(comment.children) }}
          </div>
        {% endfor %}
        </div>
    {% endif %}

    {% if error is not none %}
    <script>
      alert('{{ error }}');
    </script>
    {% endif %}
{% endblock %}