{% extends "nav.html" %}
{% block title %}submit{% endblock %}
{% block navbody %}
<div class="items tc">
    {% if mit or user %}
    <form id="post-form" action="" method="post">
        <div class="blurb">
            <i>Please think twice before posting something hurtful.</i> <br>
            You can post as many times as you like.
        </div>
        <textarea name="message" class="ta" rows="7" cols="60"></textarea>
        <p class="error">{{ error }}</p>
        <button class="ui button sb g-recaptcha" data-sitekey="{{ config['RECAPTCHA_KEY'] }}" data-callback="onSubmit">
          Submit
        </button>
    </form>
    {% else %}
    <div class="blurb">
        You need to be connected to the MIT Network to submit!
    </div>
    {% endif %}
</div>
{% endblock %}